{% extends 'Points/base.html' %}

{% block loadstatic %}
{% load static %}
{% endblock loadstatic %}

{% block title %}
<title>Профиль</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock css %}

{% block subtitle %}

{% endblock subtitle %}

{% block content %}
<div class="card">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary rounded submit">Сохранить изменения</button>
    </form>
</div>
{% endblock content %}